<section class="main-page">
  <div class="main-page__inner">
    {{ page.content }}
  </div>
</section>

{% schema %}
{
  "name": "Main page",
  "settings": [],
  "presets": [
    {
      "name": "Main page"
    }
  ]
}
{% endschema %}
